* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

#hidden {
  display: none;
}

.navbar,
.options {
  border-radius: 5px;
  background-color: #eee;
}

body {
  padding: 1vw;
  height: 100vh;
  width: 100vw;
}

.header {
  height: auto;
}

.navbar {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 6fr;
  height: 7vh;
  margin-bottom: 1vh;
}

.navbar > h1 {
  align-self: center;
  margin-left: 1vw;
}

.searchbar {
  box-sizing: border-box;
  display: grid;
  gap: 0.5vw;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.searchbar > input {
  height: 50%;
  align-self: center;
  width: 36vw;
  margin-left: 4vw;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 2vw;
}

.searchbar > img {
  height: auto;
  width: 34px;
  align-self: center;
}

.searchbar > img:hover {
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  margin-bottom: 1vh;
}

.options-compact {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.options div {
  align-self: center;
  display: flex;
  height: 6vh;
}

.option-settings img,
.option-settings-open img {
  height: auto;
  width: 38px;
}

.option-temperature {
  width: auto;
}

.option-temperature > div {
  display: flex;
  flex-direction: column;
}

.option-temperature img {
  height: auto;
  max-width: 45px;
}

.option-temperature label {
  font-size: 1.1rem;
}

.selected-metric {
  font-weight: bold;
}

.option-temperature input {
  height: 1.1em;
  width: 1.1em;
  margin-left: 2vw;
}

.option-reload {
  align-items: center;
  justify-self: center;
}

.option-reload img {
  width: auto;
  height: 79%;
}

.option-favorite,
.option-unfavorite {
  align-items: center;
  justify-self: end;
}

.option-favorite img,
.option-unfavorite img {
  width: auto;
  height: 77%;
}

.options > div > div div {
  align-items: center;
}

.settings-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 5vh;
}

.settings-bar select {
  width: 11vw;
  margin-left: 1vw;
}

.settings-bar div {
  display: flex;
  align-items: center;
}

.settings-bar > div:first-child img {
  height: auto;
  width: 30px;
}

.settings-bar > div:nth-child(2) img {
  height: auto;
  width: 40px;
}

.favorites-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  overflow-x: auto;
  overflow-y: clip;
}

.favorites-bar p {
  font-size: 1.8rem;
  margin-right: 3vw;
  margin-left: 3vw;
  font-weight: bold;
  white-space: nowrap;
}

.info {
  display: flex;
  flex-direction: column;
}

.basics,
.weather-gif,
.overview,
.sunStats,
.cloudStats,
.windStats,
.snow-card,
.rain-card,
.favorites-bar,
.settings-bar,
.uv-index-card,
.moon-phase-card {
  border-radius: 5px;
  margin-bottom: 1vh;
  background-color: #eee;
}

@media (min-width: 601px) {
  .info {
    display: grid;
    gap: 1vw;
  }

  .info div {
    margin-bottom: 0px;
  }
}

.sunStats {
  grid-column: 1/3;
  padding-left: 1%;
}

.basics {
  grid-column: 1/3;
  display: grid;
  gap: 1vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto 3fr 1fr;
  padding: 1vw;
  padding-right: 7vw;
  padding-left: 3vw;
}

.basics > div:first-child {
  display: flex;
  grid-column: 1/3;
  font-weight: bold;
  font-size: 3rem;
}

.basics > div:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/4;
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
}

.basics > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basics > div:nth-child(2) > div > p:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.7vh;
}

.basics > div:nth-child(2) > div > p:nth-child(2) {
  font-size: 1.1rem;
}

.basics > div:nth-child(2) > p {
  grid-column: 1/3;
  align-self: center;
  font-size: 0.8rem;
}

.flag {
  height: auto;
  max-width: 100%;
  align-self: center;
}

.basics > div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/4;
}

.basics-temperature {
  display: grid;
  gap: 1vw;
  grid-template-rows: repeat(auto 3);
}

.basics-temperature > p:first-child,
.basics-temperature > p:nth-child(3) {
  font-weight: bold;
  font-size: 2.4rem;
  justify-self: center;
}

.basics-temperature > p:nth-child(2) {
  justify-self: center;
  font-size: 1.2rem;
}

.weather-gif {
  height: auto;
  max-width: 100%;
}

.overview {
  display: grid;
}

.overview > p {
  font-size: 3rem;
  align-self: center;
  justify-self: center;
}

.snow-card,
.rain-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 1vh;
  padding-top: 1vh;
  padding-left: 3vw;
}

.snow-card img,
.rain-card img {
  height: auto;
  width: 60px;
}

.snow-card > div > p:first-child,
.rain-card > div > p:first-child {
  font-size: 1.7rem;
  margin-bottom: 0.4vh;
}

.snow-card > div > p:nth-child(2),
.snow-card > div > p:nth-child(3),
.rain-card > div > p:nth-child(2),
.rain-card > div > p:nth-child(3) {
  font-size: 1.4rem;
  margin-left: 1vw;
}

.snow-card > div,
.rain-card > div {
  grid-column: 2/3;
}

.sunStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.sunStats img {
  margin: auto;
  height: auto;
  width: 60px;
  margin-bottom: 1vh;
}

.sunStats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cloudStats,
.windStats,
.uv-index-card,
.moon-phase-card {
  display: grid;
  grid-template-columns: 1fr 3.8fr;
  padding-left: 3vw;
}

.gif > img {
  border-radius: 5px;
}

.cloudStats img,
.windStats img,
.uv-index-card img {
  height: auto;
  width: 60px;
}

.moon-phase-card img {
  height: auto;
  width: 55px;
}

.moon-phase-card {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cloudStats p,
.windStats p,
.uv-index-card p,
.moon-phase-card p {
  align-self: center;
  font-size: 1.7rem;
}

.error-card {
  margin-top: 2vh;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 2vw;
}

.error-card p {
  font-size: 2rem;
  margin-bottom: 2vh;
}

.error-card img {
  border-radius: 5px;
}
