* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar,
.options {
  border-radius: 5px;
  background-color: #eee;
}

body {
  padding: 1vw;
  height: 100vh;
  width: 100vw;
}

.header {
  height: auto;
}

.navbar {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 6fr;
  height: 7vh;
  border: 1px solid black;
  margin-bottom: 1vh;
}

.navbar > h1 {
  align-self: center;
  margin-left: 1vw;
}

.searchbar {
  box-sizing: border-box;
  display: grid;
  gap: 0.5vw;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.searchbar > input {
  height: 50%;
  align-self: center;
}

.searchbar > img {
  height: 40px;
  align-self: center;
}

.searchbar > img:hover {
  cursor: pointer;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 7vh;
  border: 1px solid black;
  margin-bottom: 1vh;
}

.options div {
  align-self: center;
  display: flex;
  height: 6vh;
}

.option-temperature > div {
  display: flex;
  flex-direction: column;
}

.option-reload {
  align-items: center;
  justify-self: center;
}

.option-reload select {
  height: 50%;
  margin-left: 5px;
}

.option-reload img {
  width: auto;
  height: 60%;
}

.option-favorite {
  align-items: center;
  justify-self: end;
}

.option-favorite img {
  width: auto;
  height: 70%;
}

.options > div > div div {
  align-items: center;
}

.info {
  border: 1px solid red;
}

@media (min-width: 601px) {
  .info {
    display: grid;
    gap: 1vw;
  }
}

.sunStats {
  grid-column: 1/3;
  padding-left: 1%;
}

.basics {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.basics > div:first-child {
  display: flex;
  grid-column: 1/3;
  font-weight: bold;
  font-size: 3rem;
}

.basics > div:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/4;
}

.flag {
  height: auto;
  max-width: 70px;
}

.basics > div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/4;
}

.basics-temperature {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.basics-temperature > p:first-child,
.basics-temperature > p:nth-child(3) {
  justify-self: end;
}

.basics-temperature > p:nth-child(2),
.basics-temperature > p:nth-child(4) {
  font-size: 2.5rem;
}

.overview {
  display: grid;
}

.overview > p {
  font-size: 3rem;
  align-self: center;
  justify-self: center;
}

.sunStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
}

.cloudStats,
.windStats {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.gif > img {
  border-radius: 5px;
}

.basics,
.temperature,
.overview,
.sunStats,
.cloudStats,
.windStats {
  border-radius: 5px;
  background-color: #eee;
}

.error-card {
  margin-top: 2vh;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 2vw;
}

.error-card p {
  font-size: 2rem;
  margin-bottom: 2vh;
}

.error-card img {
  border-radius: 5px;
}
